@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

.green {
  color: var(--color-green);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-green);
  }
}

@media (min-width: 1024px) {
  #app {
    padding: 2rem;
  }
}
